html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-floating { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn { 
  text-decoration: none; 
}